<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3 is-offset-one-fifth content">
        <p>We give talks about food stuff, everywhere, all the time.</p>
        <p>Email: <a href="mailto:msg@brooklynbrainery.com">msg@brooklynbrainery.com</a></p>
        <p>&copy; Masters of Social Gastronomy</p>
      </div>
      <div class="column is-2">
        <p><strong>Sarah</strong></p>
        <ul>
          <li><a href="http://fourpoundsflour.com">Web</a></li>
          <li><a href="mailto:sarah@fourpoundsflour.com">Email</a></li>
          <li><a href="http://www.facebook.com/fourpoundsflour">Facebook</a></li>
          <li><a href="http://instagram.com/fourpoundsflour">Instagram</a></li>
          <li><a href="http://twitter.com/FourPoundsFlour">Twitter</a></li>
        </ul>
      </div>
      <div class="column is-2">
        <p><strong>Soma</strong></p>
        <ul>
          <li><a href="http://jonathansoma.com">Web</a></li>
          <li><a href="mailto:soma@brooklynbrainery.com">Email</a></li>
          <li><a href="http://instagram.com/dangerscarf">Instagram</a></li>
          <li><a href="http://twitter.com/dangerscarf">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
