<footer class="footer">
  <div class="columns">
    <div class="column">
        &copy; Masters of Social Gastronomy
    </div>
    <div class="column">
      <p><strong>Soma</strong></p>
      <ul>
        <li><a href="mailto:soma@brooklynbrainery.com">soma@brooklynbrainery.com</a></li>
        <li><a href="http://instagram.com/dangerscarf">Instagram</a></li>
        <li><a href="http://twitter.com/dangerscarf">Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <p><strong>Sarah</strong></p>
      <ul>
        <li><a href="sarah@fourpoundsflour.com">sarah@fourpoundsflour.com</a></li>
        <li><a href="http://www.facebook.com/fourpoundsflour">Facebook</a></li>
        <li><a href="http://instagram.com/fourpoundsflour">Instagram</a></li>
        <li><a href="http://twitter.com/FourPoundsFlour">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>
